<tr>
  <td><%= property.display_price %></td>
  <td><%= link_to property.sitename, property.link, target: "_blank" %></td>
  <td><%= property.bedroom %></td>
  <td><%= property.bathroom %></td>
  <td><%= number_with_delimiter(property.size) %></td>
  <td><%= property.phone %></td>
</tr>